/**
* @name "Balloon-of-sadness"
* @version 3.1
* @description "Edited and Based on the Neutron theme with more stuff added to make text readable and cute :P this is the first time i made something 
out of someone's code Using CSS adjustments were found and now the whole thing seems to look good :D"
*Credits to the owner of Neurton and the free discord theme maker 
* @author Harley#9868
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
.header-2V-4Sw,
.container-2ax-kl,
.base-1x0h_U,
.title-3sZWYQ,
.header-2RyJ0Y,
::-webkit-input-placeholder,
body:not([class*=hljs]):not(code):not([class*=ace_]) {
    font-size: 13px!important; 
    font-family: UD Digi Kyokasho NK-R !important; 
}
:root{
--themeColor1: #c05584;
--backgroundImage: url('https://i.imgur.com/IMcluRm.png');
--backgroundBlur: 0px;
--backgroundOpacity: 0.5;
--homeImage: url('https://i.imgur.com/vWj44ta.png');
--text-muted: #c9d3fd;
--backgroundColor: #1b2d4a;
--channels-default: #c9d3fd;
}
.membersGroup-v9BXpm {
    position: relative;
    z-index: 2;
    padding: 19px 5px 5px 10px;
    text-align: left;
    letter-spacing: .5px;
    color: #c9d3fd;
    border-bottom-width: 0px;
    border-style: none;
    border-image: none;
}
.membersGroup-v9BXpm span {
    text-shadow: 0 2px 0px #c05584
}
